<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <button type="button" class="btn btn-warning btn-lg btn-block mt-4 ">Add Pawtner</button>
      </div>
      <div class="jumbotron w-100">
        <h1 class="display-4">New Pawl!</h1>
        <form class="clearfix mb-4">
          <div class="form-group">
            <label for="dog_name"> Name</label>
            <input type="text" id="dog_name" class="form-control" aria-describedby="example-text" placeholder="">
          </div>
          <div class="form-group">
            <label for="dog_breed">breed</label>
            <input type="text" id="dog_breed" class="form-control" aria-describedby="example-text" placeholder="">
          </div>
          <div class="form-group">
            <label for="dog_height">height</label>
            <input type="text" id="dog_height" class="form-control" aria-describedby="example-text" placeholder="">
          </div>
          <div class="form-group">
            <label for="dog_activity">activity</label>
            <input type="text" id="dog_activity" class="form-control" aria-describedby="example-text" placeholder="">
          </div>
          <div class="form-group">
            <label for="dog_age">age</label>
            <input type="text" id="dog_age" class="form-control" aria-describedby="example-text" placeholder="">
          </div>
          <a><button id="submit" class="btn btn-primary float-right">Submit</button></a>
          <div><small id="small"></small></div>
          <a href="" id="goBack">Go Back</a>

        </form>

      </div>
      <div class="jumbotron w-100">

        <div id="cardsHere"></div>

        {{!-- <div class="card m-2 w-100" style="width: 18rem;">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Name:</h5>
            <div class="row">
              <div class="col-6">
                <p class="card-text">Breed:</p>
                <p class="card-text">Size:</p>
              </div>
              <div class="col-6">
                <p class="card-text">Age:</p>
                <p class="card-text">Favorite Activity:</p>
              </div>
            </div>
            <div class="row justify-content-end">
              <button type="button" class="btn  btn-warning btn-sm">Small button</button>
            </div>
          </div> --}}



        </div>





      </div>

    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/dogs.js"></script>