<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">

        <h2>Sign Up!</h2>
        <form class="clearfix mb-4">
          <div class="form-group">
            <label for="user_name">Name</label>
            <input type="text" id="user_name" class="form-control" aria-describedby="example-text"
              placeholder="Enter Example Text">
          </div>
          <div class="form-group">
            <label for="user_email">email</label>
            <input type="text" id="user_email" class="form-control" aria-describedby="example-text"
              placeholder="Enter Example Text">
          </div>
          <div class="form-group">
            <label for="user_password">password</label>
            <input type="text" id="user_password" class="form-control" aria-describedby="example-text"
              placeholder="Enter Example Text">
          </div>
          <div class="form-group">
            <label for="user_street">Street</label>
            <input type="text" id="user_street" class="form-control" aria-describedby="example-text"
              placeholder="Enter Example Text">
          </div>
          <div class="form-group">
            <label for="user_city">City</label>
            <input type="text" id="user_city" class="form-control" aria-describedby="example-text"
              placeholder="Enter Example Text">
          </div>
          <a><button id="submit" class="btn btn-primary float-right">Submit</button></a>
        <a href="/login">Login</a>
        </form>



      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
<script src="/js/main-bundled.js"></script>