<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <div>
                <div type="text" name="lat" id="lat" size=12 value=""></div>
                <div type="text" name="lon" id="lon" size=12 value=""></div>
            </div>

            <b>Address Lookup</b>
            <div id="search">
                <input type="text" name="addr" value="" id="addr" size="58" />
                <button type="button" onclick="addr_search();">Search</button>
                <div id="results"></div>
            </div>

            <br />

            <div id="map">
                <!--Here is where map appears-->
            </div>
        </div>
    </div>
</div>