#map {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;

  }

  .address {
    cursor: pointer
  }

  .address:hover {
    color: #AA0000;
    text-decoration: underline
  }

  .searchbar {
    width: 70%;
    display: inline;
  }

  .searchbtn {
    width: 25%;
    display: inline;
  }

  .col-sm-6{
    padding: 0px;
  }

  .listBox {
    padding: 20px;
  }

  .display-4 {
    font-size: 2em;
    color: #A58161;

  }

  .card-body {
    padding: 10px 20px;
    
  }
  
  .card {
    margin-top: 20px;
    padding: 0px;
  }

  .card-text {
    font-size: 1em;
  }

 

  